
// Body
$body-bg: #f5f8fa;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$logo-color: #f0433a;
$navbar-color: #f0433a;
$dark-color: #2e112d;
$medium-color: #820333;
$light-color: #c928c3;
