// Variables
@import "variables";

.navbar {
  height: $header-height;
  box-shadow: 0 0 12px 0 #000;

  .menu-logo {
    img {
      display: flex;
      align-items: center;
      max-width: 250px;
    }
  }

  .navbar-collapse {
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    padding: 0 2rem;
    background: rgba(0,0,0,0.7);
    z-index: 1;
  }

  .navbar-toggler {
    align-self: center;
    justify-self: flex-end;
  }

  @media(min-width: 768px) {
    .menu-logo {
      img {
        max-width: 400px;
      }
    }

    .navbar-collapse {
      position: relative;
      top: 0;
      background: initial;
    }
  }
}