// Variables
@import "variables";

.navbar {
  height: $header-height;

  .menu-logo {
    img {
      display: none;
    }

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }
  }

  .navbar-collapse {
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    padding: 0 2rem;
    background: rgba(0,0,0,0.7);
    z-index: 1;
  }

  .navbar-toggler {
    align-self: center;
    justify-self: flex-end;
  }

  @media(min-width: 768px) {
    .menu-logo {
      img {
        display: flex;
        align-items: center;
      }

      span {
        display: none;
      }
    }

    .navbar-collapse {
      position: relative;
      top: 0;
      background: initial;
    }
  }
}